<div class="container">
  <div class="row">
    <div class="col-6">
      <i class="fa fa-whatsapp"> (51) 99999-8888</i>
      <br>
      <i class="fa fa-envelope"> contato@encartesaqui.com.br</i>
    </div>
    <div class="col-6">
      <a href="https://instagram.com" target="_blank" class="fa fa-instagram"> @instagram</a>
      <br>
      <a href="https://facebook.com" target="_blank" class="fa fa-facebook"> facebook.com</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>EncartesAqui Todos os direitos Reservados</p>
    </div>
  </div>
</div>